{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registro | Create{% endblock %}
{% block content %}    

    <h1>FORMULÁRIO DE CRIAÇÃO DE REGISTROS </h1>

    <div class="form-control form-control-lg">
        
        
        
        <br>

        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token%}          
            

        </form>

        <form class="form" method="POST" action="." >
            {% csrf_token%}
            {{ form | crispy }} 
            
            <div id="create-btn">
                <input class="btn btn-primary" type="submit" value="Cadastrar">
            </div>
        </form>

        <div>
           
            <div>
                <p id="create-msg">{{ msg }}</p>
            </div>
        </div>
    </div>
    
{% endblock %}