{% extends 'base.html' %}
{% load static %}
{% block title %}read{% endblock %}
    {% block content %}
    <div id="search-btn">
        <form id="search-form" class="d-flex" role="search" method="GET" actiton=".">
            <input class="form-control me-2" type="search" placeholder="Localizar cadastro" aria-label="Search" id="search" name="search">
            <button class="btn btn-success" id="search-btn" type="submit">Busca</button>
        </form>
    </div>
    <div class="read-box">
        {% for register in objects %}
            <ul class="read-list">
                <div>
                    <li>
                        Matricula: {{ register.id }} <br>
                        Nome: {{ register.nome }}
                        <a id="detail-btn" class="btn btn-primary" type="button" href="/detail/{{ register.id }}/">Detalhe</a>
                    </li>
                </div>
            </ul>
        {% endfor %}
    </div>
    {% endblock %}