{% extends 'base_index.html' %}
{% load static %}

{% block content %}
<form name="form-users" id="formUsers" method="POST" action="{% url 'accounts' %}">
  <div class="col-10 mt-5 m-auto">
    {% csrf_token %}
      <input class="form-control mt-4" type="text" name="name" placeholder="nome">
      <input class="form-control mt-4" type="text" name="user" id="user" placeholder="nome do usuário">
      <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha">
      <input class="form-control mt-4" type="password" name="password-conf" id="password-conf" placeholder="Repita a senha">
      <input class="form-control mt-4" type="email" name="email" id="email" placeholder="email...">
      <input class="btn btn-primary" type="submit" value="cadastrar">
  </div>
</form>


{% endblock %}
