{% extends 'base.html' %}

{% block title %}Home | Employee Manager{% endblock %}
{% load static %}

{% block content %}
<p class="welcome">BEM VINDO AO EMPLOYEE MANAGER!</p>
<div class="container" src="{% static 'img/workingpeople.jpg'%}" >

    <div class="block-content">
        <div class="homepage">
            
            <button class="btn btn-primary"><a href="/create/" style="color:white">Cadastrar empregado</a></button>
            <button class="btn btn-primary"><a href="/read/" style="color:white">Buscar cadastros</a></button>
            
        </div>
    </div>
</div>
{% endblock %}
