{% extends 'base.html' %}

{% block content %}
<div>
    <form method="POST">
        {% csrf_token%}
        <div>
            {{ form_change.old_password.errors}}
            <label>Senha antiga</label>
            {{ form_change.old_password }}
        </div>
        <div>
            {{ form_change.new_password1.errors}}
            <label>Nova Senha</label>
            {{ form_change.new_password1 }}
        </div>
        <div>
            {{ form_change.new_password2.errors}}
            <label>Confirme a nova senha</label>
            {{ form_change.new_password2 }}
        </div>
        <button type="submit" onclick="msg()">Alterar senha</button>
    </form>

    <!--condicional para mensagem de confirmação-->
    <!--Fazer alteração-->
    {% if form_change %}
    <script>
        function msg(){
            alert('Senha alterada com sucesso!')
        }
    </script>
    {% endif %}
</div>
{% endblock %}